$golden: #f7da45;

$diamond: white;
$ruby: red;
$emerald: green;
$sapphire: blue;
$onyx: #404;
$gold: gold;


$textColor: $onyx;
$headerColor: $diamond;
$linkColor: $diamond;
$linkHoverColor: $gold;
$linkActiveColor: $ruby;

$borderBackground: $diamond;

$gameBackgroundDark: #1e5799;
$gameBackgroundLight: #7db9e8;

$buttonBackground: $gold;
$buttonBackgroundHover: $diamond;
$buttonBackgroundActive: $ruby;
$buttonBorder: $diamond;

$playerbackground: #DDD;
$myTurnbackground: #FDD;

$tableBackground: #EEE;
$tableBorderColor: $golden;

$cardBorder: #333;

$nobleBackground: $golden;

$cardTextShadow: #000;

$gemTextColor: white;
$gemTextShadow: #000;
$gemTextBorder: #CCC;


