$golden: #f7da45;

$borderBackground: white;
$headerColor: white;

$buttonBackground: $golden;

$playerbackground: #DDD;
$myTurnbackground: #FDD;

$tableBorderColor: $golden;

$nobleBackground: $golden;
