@import 'colors';
@import 'fonts';

.button {
  display: inline-block;
  padding: 0.2em 0.5em;
  text-align: center;
  border: solid 1px $buttonBorder;
  border-radius: 0.5em;
  cursor: pointer;

  background-color: $buttonBackground;
  &:hover {  background-color: $buttonBackgroundHover;  }
  &:active {  background-color: $buttonBackgroundActive;  }
}