@import 'layout';

.players {
  display: inline-block;
  vertical-align: top;
  padding: $inset;

  h3 {  color: $headerColor;  }
}

.player {
  width: $playerWidth;
  margin: $inset;
  padding: $inset;
  border: $border;
  border-radius: $borderRadius;
  background-color: $playerbackground;

  &.my-turn {  background-color: $myTurnbackground;  }
}