@import 'layout';

.table {
  display: inline-block;
  background-color: #EEE;
  width: $tableWidth;
  padding: $inset;
  border: solid 1em $tableBorderColor;
  border-radius: $borderRadius;
  text-align: center;

  .level {
    margin: $inset;
  }
}